<div class="design-qNxiA design-xmAWv design-1cwdrw9" style="min-height:100vh;width:auto;display:contents">
<main class="design-1cca5f4" data-part="Main">
<div class="design-ni79fa" data-part="Text container">
<div class="responsive-variant hidden-fa8l33">
<div class="design-aeviow-container">
<div class="design-LoR1K design-muOVU design-JXJD2 design-eisjkj design-v-eisjkj" data-part="Large" style="width:100%">
<div class="design-169sziy" data-design-component-type="RichTextContainer" data-part="H1" style="--extracted-gdpscs:var(--variable-reference-XJ1_rrJFw-ta2R8Oh80);--design-link-text-color:rgb(0, 153, 255);--design-link-text-decoration:underline;--variable-reference-XJ1_rrJFw-ta2R8Oh80:var(--color-ink, rgb(19, 19, 22));transform:none">
<h1 class="design-text design-styles-preset-1jdkmfv" style="--design-text-color:var(--extracted-gdpscs, var(--variable-reference-XJ1_rrJFw-ta2R8Oh80))">{{page.code}}</h1>
</div>
<div class="design-qvhep-container" style="opacity:0.9">
<div style="width:100%;height:100%;backdrop-filter:blur(0px);background-color:transparent;background-image:radial-gradient(rgba(0,0,0,0) 1px,var(--color-background, rgb(246, 246, 249)) 1px);background-size:3px 3px">
</div>
</div>
</div>
</div>
</div>
<div class="responsive-variant hidden-1cwdrw9 hidden-14g84dj">
<div class="design-aeviow-container">
<div class="design-LoR1K design-muOVU design-JXJD2 design-eisjkj design-v-q43rpk" data-part="Mobile Large" style="width:100%">
<div class="design-169sziy" data-design-component-type="RichTextContainer" data-part="H1" style="--extracted-gdpscs:var(--variable-reference-XJ1_rrJFw-ta2R8Oh80);--design-link-text-color:rgb(0, 153, 255);--design-link-text-decoration:underline;--variable-reference-XJ1_rrJFw-ta2R8Oh80:var(--color-ink, rgb(19, 19, 22));transform:none">
<p role="heading" aria-level="1" class="design-text design-styles-preset-1jdkmfv" style="--design-text-color:var(--extracted-gdpscs, var(--variable-reference-XJ1_rrJFw-ta2R8Oh80))">{{page.code}}</p>
</div>
<div class="design-qvhep-container" style="opacity:0.9">
<div style="width:100%;height:100%;backdrop-filter:blur(1px);background-color:transparent;background-image:radial-gradient(rgba(0,0,0,0) 1px,var(--color-background, rgb(246, 246, 249)) 1px);background-size:3px 3px">
</div>
</div>
</div>
</div>
</div>
<div class="design-cxh6km" data-design-component-type="RichTextContainer" data-part="Founded in 2023 in New York, moro. is a branding and digital design agency helping ambitious brands look sharp, sound right, and work better online and off." style="transform:none">
<p class="design-text design-styles-preset-1qf5hdm" style="--design-text-alignment:center">{{page.title}}<span class="design-text" style="--design-text-color:var(--color-ink, rgb(19, 19, 22))">
<strong class="design-text">{{page.description}}</strong>
</span>
</p>
</div>
</div>
<div class="responsive-variant hidden-fa8l33">
<div class="design-13lizvv-container">
<a class="design-PLGvS design-zQDUX design-EI2iH design-jjw43z design-v-1p2rik design-hpg0n4" data-part="L Black" href="/" style="background-color:var(--color-ink, rgb(15, 15, 15));border-bottom-left-radius:8px;border-bottom-right-radius:8px;border-top-left-radius:8px;border-top-right-radius:8px;opacity:1" tabindex="0">
<div class="design-169qau6" data-part="Text">
<div class="design-1es6rdz" data-design-component-type="RichTextContainer" data-part="See pricing" style="--design-paragraph-spacing:0px;--extracted-r6o4lv:var(--color-white, rgb(255, 255, 255));transform:none">
<p class="design-text design-styles-preset-uldik7" style="--design-text-color:var(--extracted-r6o4lv, var(--color-white, rgb(255, 255, 255)))">{{page.action}}</p>
</div>
<div class="design-6jamm" data-design-component-type="RichTextContainer" data-part="See pricing" style="--design-paragraph-spacing:0px;--extracted-r6o4lv:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-uldik7" style="--design-text-color:var(--extracted-r6o4lv, var(--color-ink, rgb(19, 19, 22)))">{{page.action}}</p>
</div>
</div>
<div class="design-fhY6R design-117s3ny" style="--1l1lian:var(--color-white, rgb(255, 255, 255));transform:none">
</div>
<div class="design-owwx6i" data-part="Hover animation" style="background-color:var(--token-7d8f6bfb-f997-43f2-b2b1-804070da8223, rgb(255, 251, 31));border-bottom-left-radius:22222px;border-bottom-right-radius:22222px;border-top-left-radius:22222px;border-top-right-radius:22222px;transform:translateX(-50%)">
</div>
</a>
</div>
</div>
<div class="responsive-variant hidden-1cwdrw9 hidden-14g84dj">
<div class="design-13lizvv-container">
<a class="design-PLGvS design-zQDUX design-EI2iH design-jjw43z design-v-10yyj4s design-hpg0n4" data-part="S Black" href="/" style="background-color:var(--color-ink, rgb(19, 19, 22));border-bottom-left-radius:8px;border-bottom-right-radius:8px;border-top-left-radius:8px;border-top-right-radius:8px;opacity:1" tabindex="0">
<div class="design-169qau6" data-part="Text">
<div class="design-1es6rdz" data-design-component-type="RichTextContainer" data-part="See pricing" style="--design-paragraph-spacing:0px;--extracted-r6o4lv:var(--color-white, rgb(255, 255, 255));transform:none">
<p class="design-text design-styles-preset-1ce5jwa" style="--design-text-color:var(--extracted-r6o4lv, var(--color-white, rgb(255, 255, 255)))">{{page.action}}</p>
</div>
<div class="design-6jamm" data-design-component-type="RichTextContainer" data-part="See pricing" style="--design-paragraph-spacing:0px;--extracted-r6o4lv:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-1ce5jwa" style="--design-text-color:var(--extracted-r6o4lv, var(--color-ink, rgb(19, 19, 22)))">{{page.action}}</p>
</div>
</div>
<div class="design-fhY6R design-117s3ny" style="--1l1lian:var(--color-white, rgb(255, 255, 255));transform:none">
</div>
<div class="design-owwx6i" data-part="Hover animation" style="background-color:var(--token-7d8f6bfb-f997-43f2-b2b1-804070da8223, rgb(255, 251, 31));border-bottom-left-radius:22222px;border-bottom-right-radius:22222px;border-top-left-radius:22222px;border-top-right-radius:22222px;transform:translateX(-50%)">
</div>
</a>
</div>
</div>
</main>
</div>
