<div class="design-CjVJ7 design-te1c25" style="min-height:100vh;width:auto;display:contents">
<main class="design-1vsto02" data-part="Main">
<main class="design-7z39lj" data-part="max width container">
<div class="responsive-variant hidden-1lt06ri">
<div class="design-19ziznp-container" style="will-change:transform;opacity:1;transform:none">
<div class="design-LoR1K design-muOVU design-JXJD2 design-eisjkj design-v-eisjkj" data-part="Large" style="width:100%">
<div class="design-169sziy" data-design-component-type="RichTextContainer" data-part="H1" style="--extracted-gdpscs:var(--variable-reference-XJ1_rrJFw-ta2R8Oh80);--design-link-text-color:rgb(0, 153, 255);--design-link-text-decoration:underline;--variable-reference-XJ1_rrJFw-ta2R8Oh80:var(--color-ink, rgb(19, 19, 22));transform:none">
<h1 class="design-text design-styles-preset-1jdkmfv" style="--design-text-color:var(--extracted-gdpscs, var(--variable-reference-XJ1_rrJFw-ta2R8Oh80))">{{page.news_articles}}</h1>
</div>
<div class="design-qvhep-container" style="opacity:0.9">
<div style="width:100%;height:100%;backdrop-filter:blur(0px);background-color:transparent;background-image:radial-gradient(rgba(0,0,0,0) 1px,var(--color-background, rgb(246, 246, 249)) 1px);background-size:3px 3px">
</div>
</div>
</div>
</div>
</div>
<div class="responsive-variant hidden-te1c25 hidden-1vkuzcu">
<div class="design-19ziznp-container" style="will-change:transform;opacity:1;transform:none">
<div class="design-LoR1K design-muOVU design-JXJD2 design-eisjkj design-v-q43rpk" data-part="Mobile Large" style="width:100%">
<div class="design-169sziy" data-design-component-type="RichTextContainer" data-part="H1" style="--extracted-gdpscs:var(--variable-reference-XJ1_rrJFw-ta2R8Oh80);--design-link-text-color:rgb(0, 153, 255);--design-link-text-decoration:underline;--variable-reference-XJ1_rrJFw-ta2R8Oh80:var(--color-ink, rgb(19, 19, 22));transform:none">
<h1 class="design-text design-styles-preset-1jdkmfv" style="--design-text-color:var(--extracted-gdpscs, var(--variable-reference-XJ1_rrJFw-ta2R8Oh80))">{{page.news_articles}}</h1>
</div>
<div class="design-qvhep-container" style="opacity:0.9">
<div style="width:100%;height:100%;backdrop-filter:blur(1px);background-color:transparent;background-image:radial-gradient(rgba(0,0,0,0) 1px,var(--color-background, rgb(246, 246, 249)) 1px);background-size:3px 3px">
</div>
</div>
</div>
</div>
</div>
<div class="design-1tu8ezl" data-part="Content" id="content">
<div class="design-axznbg" data-part="Card container">
<section class="design-1nybrkb">
{{{featuredArticle}}}
</section>
<section class="design-1e5rc3n">
<div class="responsive-variant hidden-1lt06ri">{{{articleCards0}}}</div>
<div class="responsive-variant hidden-te1c25 hidden-1vkuzcu">{{{articleCards1}}}</div>
</section>
</div>
<section class="design-1asq7c4">
<div class="responsive-variant">
<div class="design-32s0wq-container">
</div>
</div>
</section>
</div>
</main>
</main>
<div class="design-f10y25-container">
<div>
</div>
</div>
</div>
