<div class="design-XpF66 design-I1uwE design-xmAWv design-hZeXg design-m7CIJ design-1o9vo9m" style="min-height:100vh;width:auto;display:contents">
<div class="design-2f5pzy" data-part="Main">
<main class="design-jlyzeo" data-part="Max width container">
<div class="design-orf4o4" data-part="Sticky container">
<div class="design-1smqrw6" data-part="Headline and date">
<div class="design-12cytqd" data-design-component-type="RichTextContainer" style="transform:none">
<h2 class="design-text design-styles-preset-17kg1fh" style="--design-text-alignment:left;--design-text-color:var(--color-ink, rgb(19, 19, 22))">{{page.privacy_policy}}</h2>
</div>
<div class="design-ri0vnp" data-part="Date">
<div class="design-845mcx" data-design-component-type="RichTextContainer" style="transform:none">
<p class="design-text design-styles-preset-1qf5hdm">{{page.effective_date}}</p>
</div>
<div class="design-1nvf4h4" data-design-component-type="RichTextContainer" style="transform:none">
<p class="design-text design-styles-preset-2nzwyb">{{page.01_02_2025}}</p>
</div>
</div>
</div>
<div class="design-gc7hkq-container hidden-jqyaiy">
<a class="design-7uIW3 design-hZeXg design-aunsha design-v-aunsha design-12nnjn6" data-part="Default" href="/">
<div class="design-1n1h8ux" data-part="Bullet" style="background-color:var(--color-ink, rgb(19, 19, 22));border-bottom-left-radius:20px;border-bottom-right-radius:20px;border-top-left-radius:20px;border-top-right-radius:20px">
</div>
<div class="design-1hfb4we" data-part="Text">
<div class="design-5mmelu" data-design-component-type="RichTextContainer" data-part="Send us a mail" style="--extracted-r6o4lv:var(--variable-reference-sDZ2_wZ15-VI3b8cP9x);--design-paragraph-spacing:0px;--variable-reference-sDZ2_wZ15-VI3b8cP9x:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-2nzwyb" style="--design-text-color:var(--extracted-r6o4lv, var(--variable-reference-sDZ2_wZ15-VI3b8cP9x))">{{page.back_home}}</p>
</div>
<div class="design-1p6zxe8" data-design-component-type="RichTextContainer" data-part="Send us a mail" style="--extracted-r6o4lv:var(--color-ink, rgb(19, 19, 22));--design-paragraph-spacing:0px;transform:none">
<p class="design-text design-styles-preset-2nzwyb" style="--design-text-color:var(--extracted-r6o4lv, var(--color-ink, rgb(19, 19, 22)))">{{page.back_home}}</p>
</div>
</div>
</a>
</div>
</div>
<div class="design-941pzv" data-part="Content" id="content">
<div class="design-c4enu0" data-part="Intro">
<div class="design-sz8gm5" data-design-component-type="RichTextContainer" style="transform:none">
<h3 class="design-text design-styles-preset-1bndbq3">{{page.at_moro_your_privacy_matters_to_us_this_privacy_policy_outlines_h}}</h3>
</div>
</div>
<div class="design-nqvzyo" data-part="Text">
<div class="design-jh33b0" data-design-component-type="RichTextContainer" style="transform:none">
<h3 class="design-text design-styles-preset-1bndbq3">{{page.information_we_collect}}</h3>
<p class="design-text design-styles-preset-1qf5hdm">{{page.we_may_collect_information_you_provide_directly_such_as_your_name}}</p>
<h3 class="design-text design-styles-preset-1bndbq3">{{page.how_we_use_your_data}}</h3>
<p class="design-text design-styles-preset-1qf5hdm">{{page.we_use_your_information_to_deliver_our_services_communicate_with_}}</p>
<h3 class="design-text design-styles-preset-1bndbq3">{{page.cookies}}</h3>
<p class="design-text design-styles-preset-1qf5hdm">{{page.we_use_cookies_to_enhance_your_browsing_experience_you_can_disabl}}</p>
<h3 class="design-text design-styles-preset-1bndbq3">{{page.third_party_services}}</h3>
<p class="design-text design-styles-preset-1qf5hdm">{{page.we_may_use_trusted_third_party_tools_to_process_payments_or_analy}}</p>
<h3 class="design-text design-styles-preset-1bndbq3">{{page.data_security}}</h3>
<p class="design-text design-styles-preset-1qf5hdm">{{page.we_take_appropriate_measures_to_protect_your_data_from_unauthoriz}}</p>
<h3 class="design-text design-styles-preset-1bndbq3">{{page.your_rights}}</h3>
<p class="design-text design-styles-preset-1qf5hdm">{{page.you_can_ask_us_to_access_correct_or_delete_your_personal_informat}}</p>
</div>
<div class="responsive-variant">
<div class="design-97me93-container hidden-1o9vo9m hidden-85bf49">
<a class="design-7uIW3 design-hZeXg design-aunsha design-v-aunsha design-12nnjn6" data-part="Default" href="/">
<div class="design-1n1h8ux" data-part="Bullet" style="background-color:var(--color-ink, rgb(19, 19, 22));border-bottom-left-radius:20px;border-bottom-right-radius:20px;border-top-left-radius:20px;border-top-right-radius:20px">
</div>
<div class="design-1hfb4we" data-part="Text">
<div class="design-5mmelu" data-design-component-type="RichTextContainer" data-part="Send us a mail" style="--extracted-r6o4lv:var(--variable-reference-sDZ2_wZ15-VI3b8cP9x);--design-paragraph-spacing:0px;--variable-reference-sDZ2_wZ15-VI3b8cP9x:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-2nzwyb" style="--design-text-color:var(--extracted-r6o4lv, var(--variable-reference-sDZ2_wZ15-VI3b8cP9x))">{{page.back_home}}</p>
</div>
<div class="design-1p6zxe8" data-design-component-type="RichTextContainer" data-part="Send us a mail" style="--extracted-r6o4lv:var(--color-ink, rgb(19, 19, 22));--design-paragraph-spacing:0px;transform:none">
<p class="design-text design-styles-preset-2nzwyb" style="--design-text-color:var(--extracted-r6o4lv, var(--color-ink, rgb(19, 19, 22)))">{{page.back_home}}</p>
</div>
</div>
</a>
</div>
</div>
</div>
</div>
</main>
</div>
<div class="design-luheh0-container">
<div>
</div>
</div>
</div>
