<div class="design-cng2E design-07LSv design-QmRLl design-yyEcJ design-AuUny design-wjZBz design-a8bp4g" style="min-height:100vh;width:auto;display:contents">
<section class="design-1ihic4h {{project.heroClass}}" data-part="Hero">
<div class="design-15r1a63" data-part="Title" style="opacity:1;transform:none">
<div class="design-ihrcmm-container">
<div class="responsive-variant hidden-1v7vlwr">
<div class="design-LoR1K design-muOVU design-JXJD2 design-eisjkj design-v-qx9b96" data-part="Medium" style="width:100%">
<div class="design-169sziy" data-design-component-type="RichTextContainer" data-part="H1" style="--extracted-gdpscs:var(--variable-reference-XJ1_rrJFw-ta2R8Oh80);--design-link-text-color:rgb(0, 153, 255);--design-link-text-decoration:underline;--variable-reference-XJ1_rrJFw-ta2R8Oh80:var(--color-ink, rgb(19, 19, 22));transform:none">
<h1 class="design-text design-styles-preset-13bfzx5" style="--design-text-alignment:center;--design-text-color:var(--extracted-gdpscs, var(--variable-reference-XJ1_rrJFw-ta2R8Oh80))">{{project.title}}</h1>
</div>
<div class="design-qvhep-container" style="opacity:0.9">
<div style="width:100%;height:100%;backdrop-filter:blur(0px);background-color:transparent;background-image:radial-gradient(rgba(0,0,0,0) 1px,var(--color-background, rgb(246, 246, 249)) 1px);background-size:3px 3px">
</div>
</div>
</div>
</div>
<div class="responsive-variant hidden-a8bp4g hidden-1e5jlu0">
<div class="design-LoR1K design-muOVU design-JXJD2 design-eisjkj design-v-82q09u" data-part="Mobile Medium" style="width:100%">
<div class="design-169sziy" data-design-component-type="RichTextContainer" data-part="H1" style="--extracted-gdpscs:var(--variable-reference-XJ1_rrJFw-ta2R8Oh80);--design-link-text-color:rgb(0, 153, 255);--design-link-text-decoration:underline;--variable-reference-XJ1_rrJFw-ta2R8Oh80:var(--color-ink, rgb(19, 19, 22));transform:none">
<h1 class="design-text design-styles-preset-13bfzx5" style="--design-text-alignment:center;--design-text-color:var(--extracted-gdpscs, var(--variable-reference-XJ1_rrJFw-ta2R8Oh80))">{{project.title}}</h1>
</div>
<div class="design-qvhep-container" style="opacity:0.9">
<div style="width:100%;height:100%;backdrop-filter:blur(1px);background-color:transparent;background-image:radial-gradient(rgba(0,0,0,0) 1px,var(--color-background, rgb(246, 246, 249)) 1px);background-size:3px 3px">
</div>
</div>
</div>
</div>
</div>
<div class="design-kfr5q4" data-design-component-type="RichTextContainer" data-part="Trusted by those who know. Not just logos. Long-term partners." style="transform:none">
<p class="design-text design-styles-preset-17n3l93" style="--design-text-alignment:center;--design-text-color:var(--color-ink, rgb(19, 19, 22))">{{project.subtitle}}</p>
</div>
</div>
{{{projectNavigation}}}
<div class="design-1g0f44v" data-part="Image container" id="image">
<div class="responsive-variant">
<div class="design-qrtzuh" data-part="Main image">
<div data-design-background-image-wrapper="true" style="position:absolute;border-radius:inherit;corner-shape:inherit;top:0;right:0;bottom:0;left:0">
{{{project.heroMedia}}}
</div>
</div>
</div>
</div>
</section>
<section class="design-13k8z8f" data-part="Tech details">
<div class="design-1pely96" data-part="Text">
<div class="design-82krd7" data-design-component-type="RichTextContainer" data-part="We don’t just make things pretty. We make them work. Our redesigns consistently boost engagement and drive action." style="transform:none">
<p class="design-text design-styles-preset-1e9trmr" style="--design-text-alignment:left">{{project.description}}</p>
</div>
</div>
<div class="design-1jl4viw" data-border="true" data-part="Client">
<div class="design-vf9l6x" data-design-component-type="RichTextContainer" style="transform:none">
<p class="design-text design-styles-preset-1xje7qk" style="--design-text-alignment:left">{{page.client}}</p>
</div>
<div class="design-jslf94" data-design-component-type="RichTextContainer" style="transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-alignment:left">{{project.client}}</p>
</div>
</div>
<div class="design-1kt5fz" data-border="true" data-part="Scope">
<div class="design-24l0ac" data-design-component-type="RichTextContainer" data-part="Scope" style="transform:none">
<p class="design-text design-styles-preset-1xje7qk" style="--design-text-alignment:left">{{page.scope}}</p>
</div>
<div class="design-1rq4szt" data-design-component-type="RichTextContainer" data-part="Scope" style="transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-alignment:left">{{project.scope}}</p>
</div>
</div>
<div class="design-ks73cu" data-border="true" data-part="Market">
<div class="design-bt3mgk" data-design-component-type="RichTextContainer" data-part="Market" style="transform:none">
<p class="design-text design-styles-preset-1xje7qk" style="--design-text-alignment:left">{{page.market}}</p>
</div>
<div class="design-aslne1" data-design-component-type="RichTextContainer" data-part="Market" style="transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-alignment:left">{{project.market}}</p>
</div>
</div>
</section>
{{{projectMedia}}}
<section class="design-es6f4f" data-part="More projects">
<div class="responsive-variant hidden-1v7vlwr">
<div class="design-8aj83i-container">
<div class="design-thjJN design-hZeXg design-1av06fx design-v-1av06fx" data-part="W headline" style="width:100%">
<div class="design-1c9kost" data-part="Bullet headline animation">
<div class="design-c8byjv" data-part="Line" style="background-color:var(--token-44e0b61a-0d45-4abd-a816-7cc3fce51538, rgb(204, 204, 204))">
</div>
<div class="design-z0jgdo" data-part="Circle" style="background-color:var(--token-44e0b61a-0d45-4abd-a816-7cc3fce51538, rgb(204, 204, 204));border-bottom-left-radius:20px;border-bottom-right-radius:20px;border-top-left-radius:20px;border-top-right-radius:20px">
</div>
</div>
<div class="design-1rih8a1" data-design-component-type="RichTextContainer" data-part="Clients" style="--extracted-r6o4lv:var(--variable-reference-IPCO64C88-xihJ7OHu5);--design-paragraph-spacing:0px;--variable-reference-IPCO64C88-xihJ7OHu5:var(--color-ink, rgb(15, 15, 15));transform:none">
<p class="design-text design-styles-preset-2nzwyb" style="--design-text-color:var(--extracted-r6o4lv, var(--variable-reference-IPCO64C88-xihJ7OHu5))">{{page.more_projects}}</p>
</div>
</div>
</div>
</div>
<div class="responsive-variant hidden-a8bp4g hidden-1e5jlu0">
<div class="design-8aj83i-container">
<div class="design-thjJN design-hZeXg design-1av06fx design-v-htppak" data-part="W headline Mobile " style="width:100%">
<div class="design-1c9kost" data-part="Bullet headline animation">
<div class="design-c8byjv" data-part="Line" style="background-color:var(--token-44e0b61a-0d45-4abd-a816-7cc3fce51538, rgb(204, 204, 204))">
</div>
<div class="design-z0jgdo" data-part="Circle" style="background-color:var(--token-44e0b61a-0d45-4abd-a816-7cc3fce51538, rgb(204, 204, 204));border-bottom-left-radius:20px;border-bottom-right-radius:20px;border-top-left-radius:20px;border-top-right-radius:20px">
</div>
</div>
<div class="design-1rih8a1" data-design-component-type="RichTextContainer" data-part="Clients" style="--extracted-r6o4lv:var(--variable-reference-IPCO64C88-xihJ7OHu5);--design-paragraph-spacing:0px;--variable-reference-IPCO64C88-xihJ7OHu5:var(--color-ink, rgb(15, 15, 15));transform:none">
<p class="design-text design-styles-preset-2nzwyb" style="--design-text-color:var(--extracted-r6o4lv, var(--variable-reference-IPCO64C88-xihJ7OHu5))">{{page.more_projects}}</p>
</div>
</div>
</div>
</div>
<div class="design-1u43xth">{{{relatedProjects}}}</div>
<div class="design-h0tfhh-container">
<div class="responsive-variant hidden-1v7vlwr">
<a class="design-PLGvS design-zQDUX design-EI2iH design-jjw43z design-v-1p2rik design-hpg0n4" data-part="L Black" href="/projects" style="background-color:var(--color-ink, rgb(15, 15, 15));border-bottom-left-radius:8px;border-bottom-right-radius:8px;border-top-left-radius:8px;border-top-right-radius:8px;opacity:1" tabindex="0">
<div class="design-169qau6" data-part="Text">
<div class="design-1es6rdz" data-design-component-type="RichTextContainer" data-part="See pricing" style="--design-paragraph-spacing:0px;--extracted-r6o4lv:var(--color-white, rgb(255, 255, 255));transform:none">
<p class="design-text design-styles-preset-uldik7" style="--design-text-color:var(--extracted-r6o4lv, var(--color-white, rgb(255, 255, 255)))">{{page.go_to_lobby}}</p>
</div>
<div class="design-6jamm" data-design-component-type="RichTextContainer" data-part="See pricing" style="--design-paragraph-spacing:0px;--extracted-r6o4lv:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-uldik7" style="--design-text-color:var(--extracted-r6o4lv, var(--color-ink, rgb(19, 19, 22)))">{{page.go_to_lobby}}</p>
</div>
</div>
<div class="design-fhY6R design-117s3ny" style="--1l1lian:var(--color-white, rgb(255, 255, 255));transform:none">
</div>
<div class="design-owwx6i" data-part="Hover animation" style="background-color:var(--token-7d8f6bfb-f997-43f2-b2b1-804070da8223, rgb(255, 251, 31));border-bottom-left-radius:22222px;border-bottom-right-radius:22222px;border-top-left-radius:22222px;border-top-right-radius:22222px;transform:translateX(-50%)">
</div>
</a>
</div>
<div class="responsive-variant hidden-a8bp4g hidden-1e5jlu0">
<a class="design-PLGvS design-zQDUX design-EI2iH design-jjw43z design-v-10yyj4s design-hpg0n4" data-part="S Black" href="/projects" style="background-color:var(--color-ink, rgb(19, 19, 22));border-bottom-left-radius:8px;border-bottom-right-radius:8px;border-top-left-radius:8px;border-top-right-radius:8px;opacity:1" tabindex="0">
<div class="design-169qau6" data-part="Text">
<div class="design-1es6rdz" data-design-component-type="RichTextContainer" data-part="See pricing" style="--design-paragraph-spacing:0px;--extracted-r6o4lv:var(--color-white, rgb(255, 255, 255));transform:none">
<p class="design-text design-styles-preset-1ce5jwa" style="--design-text-color:var(--extracted-r6o4lv, var(--color-white, rgb(255, 255, 255)))">{{page.go_to_lobby}}</p>
</div>
<div class="design-6jamm" data-design-component-type="RichTextContainer" data-part="See pricing" style="--design-paragraph-spacing:0px;--extracted-r6o4lv:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-1ce5jwa" style="--design-text-color:var(--extracted-r6o4lv, var(--color-ink, rgb(19, 19, 22)))">{{page.go_to_lobby}}</p>
</div>
</div>
<div class="design-fhY6R design-117s3ny" style="--1l1lian:var(--color-white, rgb(255, 255, 255));transform:none">
</div>
<div class="design-owwx6i" data-part="Hover animation" style="background-color:var(--token-7d8f6bfb-f997-43f2-b2b1-804070da8223, rgb(255, 251, 31));border-bottom-left-radius:22222px;border-bottom-right-radius:22222px;border-top-left-radius:22222px;border-top-right-radius:22222px;transform:translateX(-50%)">
</div>
</a>
</div>
</div>
</section>
<div class="design-1yyht1m-container">
<div>
</div>
</div>
</div>
