<div class="design-YbVe8 design-I1uwE design-xmAWv design-hZeXg design-m7CIJ design-4zk71o" style="min-height:100vh;width:auto;display:contents">
<div class="design-t0zaqg" data-part="Main">
<main class="design-5p6au5" data-part="Max width container">
<div class="design-11njwy0" data-part="Sticky container">
<div class="design-t1b59o" data-part="Headline and date">
<div class="design-1hn2iqu" data-design-component-type="RichTextContainer" style="transform:none">
<h2 class="design-text design-styles-preset-17kg1fh" style="--design-text-alignment:left;--design-text-color:rgb(23, 23, 23)">{{page.term_of_service}}</h2>
</div>
<div class="design-135692h" data-part="Date">
<div class="design-1h2zxyk" data-design-component-type="RichTextContainer" style="transform:none">
<p class="design-text design-styles-preset-1qf5hdm">{{page.effective_date}}</p>
</div>
<div class="design-iuoks6" data-design-component-type="RichTextContainer" style="transform:none">
<p class="design-text design-styles-preset-2nzwyb">{{page.01_02_2025}}</p>
</div>
</div>
</div>
<div class="design-1m6gbgi-container hidden-1l1gy2i">
<a class="design-7uIW3 design-hZeXg design-aunsha design-v-aunsha design-12nnjn6" data-part="Default" href="/">
<div class="design-1n1h8ux" data-part="Bullet" style="background-color:var(--color-ink, rgb(19, 19, 22));border-bottom-left-radius:20px;border-bottom-right-radius:20px;border-top-left-radius:20px;border-top-right-radius:20px">
</div>
<div class="design-1hfb4we" data-part="Text">
<div class="design-5mmelu" data-design-component-type="RichTextContainer" data-part="Send us a mail" style="--extracted-r6o4lv:var(--variable-reference-sDZ2_wZ15-VI3b8cP9x);--design-paragraph-spacing:0px;--variable-reference-sDZ2_wZ15-VI3b8cP9x:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-2nzwyb" style="--design-text-color:var(--extracted-r6o4lv, var(--variable-reference-sDZ2_wZ15-VI3b8cP9x))">{{page.back_home}}</p>
</div>
<div class="design-1p6zxe8" data-design-component-type="RichTextContainer" data-part="Send us a mail" style="--extracted-r6o4lv:var(--color-ink, rgb(19, 19, 22));--design-paragraph-spacing:0px;transform:none">
<p class="design-text design-styles-preset-2nzwyb" style="--design-text-color:var(--extracted-r6o4lv, var(--color-ink, rgb(19, 19, 22)))">{{page.back_home}}</p>
</div>
</div>
</a>
</div>
</div>
<div class="design-fnmls0" data-part="Content" id="content">
<div class="design-z9y2i5" data-part="Intro">
<div class="design-1u6318x" data-design-component-type="RichTextContainer" style="transform:none">
<h3 class="design-text design-styles-preset-1bndbq3" style="--design-text-color:var(--color-ink, rgb(19, 19, 22))">{{page.by_using_this_website_you_agree_to_these_terms_if_you_don_t_agree}}</h3>
</div>
</div>
<div class="design-jtz2qa" data-part="Text">
<div class="design-1mb4oam" data-design-component-type="RichTextContainer" style="transform:none">
<h3 class="design-text design-styles-preset-1bndbq3">{{page.use_of_the_site}}</h3>
<p class="design-text design-styles-preset-1qf5hdm">{{page.you_re_allowed_to_browse_view_and_interact_with_our_content_for_p}}</p>
<h3 class="design-text design-styles-preset-1bndbq3">{{page.intellectual_property}}</h3>
<p class="design-text design-styles-preset-1qf5hdm">{{page.all_content_on_this_site_including_text_images_templates_and_code}}</p>
<h3 class="design-text design-styles-preset-1bndbq3">{{page.payments_and_purchases}}</h3>
<p class="design-text design-styles-preset-1qf5hdm">{{page.all_sales_are_final_unless_stated_otherwise_if_there_s_an_issue_w}}</p>
<h3 class="design-text design-styles-preset-1bndbq3" style="--design-text-alignment:left">{{page.account_access}}</h3>
<p class="design-text design-styles-preset-1qf5hdm">{{page.if_you_create_an_account_you_re_responsible_for_keeping_your_logi}}</p>
<h3 class="design-text design-styles-preset-1bndbq3" style="--design-text-color:var(--color-ink, rgb(19, 19, 22))">{{page.limitations}}</h3>
<p class="design-text design-styles-preset-1qf5hdm">{{page.we_don_t_guarantee_the_site_will_always_be_online_bug_free_or_per}}</p>
<h3 class="design-text design-styles-preset-1bndbq3" style="--design-text-color:var(--color-ink, rgb(19, 19, 22))">{{page.governing_law}}</h3>
<p class="design-text design-styles-preset-1qf5hdm">{{page.these_terms_are_governed_by_the_laws_of_our_home_jurisdiction_any}}</p>
</div>
<div class="responsive-variant">
<div class="design-fwc23p-container hidden-4zk71o hidden-naxssj">
<a class="design-7uIW3 design-hZeXg design-aunsha design-v-aunsha design-12nnjn6" data-part="Default" href="/">
<div class="design-1n1h8ux" data-part="Bullet" style="background-color:var(--color-ink, rgb(19, 19, 22));border-bottom-left-radius:20px;border-bottom-right-radius:20px;border-top-left-radius:20px;border-top-right-radius:20px">
</div>
<div class="design-1hfb4we" data-part="Text">
<div class="design-5mmelu" data-design-component-type="RichTextContainer" data-part="Send us a mail" style="--extracted-r6o4lv:var(--variable-reference-sDZ2_wZ15-VI3b8cP9x);--design-paragraph-spacing:0px;--variable-reference-sDZ2_wZ15-VI3b8cP9x:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-2nzwyb" style="--design-text-color:var(--extracted-r6o4lv, var(--variable-reference-sDZ2_wZ15-VI3b8cP9x))">{{page.back_home}}</p>
</div>
<div class="design-1p6zxe8" data-design-component-type="RichTextContainer" data-part="Send us a mail" style="--extracted-r6o4lv:var(--color-ink, rgb(19, 19, 22));--design-paragraph-spacing:0px;transform:none">
<p class="design-text design-styles-preset-2nzwyb" style="--design-text-color:var(--extracted-r6o4lv, var(--color-ink, rgb(19, 19, 22)))">{{page.back_home}}</p>
</div>
</div>
</a>
</div>
</div>
</div>
</div>
</main>
</div>
<div class="design-gv4ho-container">
<div>
</div>
</div>
</div>
