<a class="design-muoxvt design-80fv30" href="/blog/{{article.slug}}">
<div class="responsive-variant hidden-1lt06ri">
<div class="design-1un2qx9-container">
<div class="design-91ZHj design-QmRLl design-07LSv design-cxczP design-xmAWv design-1ht63kc design-v-1ht63kc" data-part="Large" style="background-color:var(--color-white, rgb(255, 255, 255));height:100%;width:100%;border-bottom-left-radius:20px;border-bottom-right-radius:20px;border-top-left-radius:20px;border-top-right-radius:20px">
<div class="design-18evxs1" data-part="Image container" style="border-bottom-left-radius:18px;border-bottom-right-radius:18px;border-top-left-radius:18px;border-top-right-radius:18px">
<div class="design-1xioqep" data-part="image" style="border-bottom-left-radius:18px;border-bottom-right-radius:18px;border-top-left-radius:18px;border-top-right-radius:18px;transform:none">
<div data-design-background-image-wrapper="true" style="position:absolute;border-radius:inherit;corner-shape:inherit;top:0;right:0;bottom:0;left:0">
<img alt="{{article.coverAlt}}" decoding="async" height="1200" loading="lazy" src="{{article.cover}}" style="display:block;width:100%;height:100%;border-radius:inherit;corner-shape:inherit;object-position:center;object-fit:cover" width="904"/>
</div>
</div>
</div>
<div class="design-ajzv5l" data-part="Content">
<div class="design-16axbgo" data-design-component-type="RichTextContainer" data-part="Trusted by those who know. Not just logos. Long-term partners." style="--design-paragraph-spacing:0px;transform:none">
<h2 class="design-text design-styles-preset-1e9trmr">{{article.title}}</h2>
</div>
<div class="design-1pw4v37" data-design-component-type="RichTextContainer" data-part="We don’t just make things pretty. We make them work. Our redesigns consistently boost engagement and drive action." style="--design-paragraph-spacing:0px;transform:none">
<p class="design-text design-styles-preset-1qf5hdm">{{article.excerpt}}</p>
</div>
<div class="design-1v0hu7w" data-part="Container">
<div class="design-1w6j1ps-container">
<div class="design-qUSOy design-hZeXg design-cxczP design-vgyc3p design-v-tihalu" data-part="Horizontal">
<div class="design-thp4ig" data-part="Customer IMG" style="border-bottom-left-radius:12px;border-bottom-right-radius:12px;border-top-left-radius:12px;border-top-right-radius:12px">
<div data-design-background-image-wrapper="true" style="position:absolute;border-radius:inherit;corner-shape:inherit;top:0;right:0;bottom:0;left:0">
<img alt="{{page._images.customer_img_1.alt}}" decoding="async" height="192" loading="lazy" src="{{page._images.customer_img_1.src}}" style="display:block;width:100%;height:100%;border-radius:inherit;corner-shape:inherit;object-position:center;object-fit:cover" width="192"/>
</div>
</div>
<div class="design-h01btg" data-part="Name and title">
<div class="design-1hnvjcv" data-design-component-type="RichTextContainer" data-part="Amira D." style="--design-paragraph-spacing:0px;transform:none">
<p class="design-text design-styles-preset-2nzwyb">{{article.author}}</p>
</div>
<div class="design-1o6gz3l" data-design-component-type="RichTextContainer" data-part="Brand Director" style="--design-paragraph-spacing:0px;transform:none">
<p class="design-text design-styles-preset-1ra5k8v">{{article.authorRole}}</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="responsive-variant hidden-te1c25 hidden-1vkuzcu">
<div class="design-1un2qx9-container">
<div class="design-91ZHj design-QmRLl design-07LSv design-cxczP design-xmAWv design-1ht63kc design-v-1ht63kc" data-part="Large" style="background-color:var(--color-white, rgb(255, 255, 255));width:100%;border-bottom-left-radius:20px;border-bottom-right-radius:20px;border-top-left-radius:20px;border-top-right-radius:20px">
<div class="design-18evxs1" data-part="Image container" style="border-bottom-left-radius:18px;border-bottom-right-radius:18px;border-top-left-radius:18px;border-top-right-radius:18px">
<div class="design-1xioqep" data-part="image" style="border-bottom-left-radius:18px;border-bottom-right-radius:18px;border-top-left-radius:18px;border-top-right-radius:18px;transform:none">
<div data-design-background-image-wrapper="true" style="position:absolute;border-radius:inherit;corner-shape:inherit;top:0;right:0;bottom:0;left:0">
<img alt="{{article.coverAlt}}" decoding="async" height="1200" loading="lazy" src="{{article.cover}}" style="display:block;width:100%;height:100%;border-radius:inherit;corner-shape:inherit;object-position:center;object-fit:cover" width="904"/>
</div>
</div>
</div>
<div class="design-ajzv5l" data-part="Content">
<div class="design-16axbgo" data-design-component-type="RichTextContainer" data-part="Trusted by those who know. Not just logos. Long-term partners." style="--design-paragraph-spacing:0px;transform:none">
<h2 class="design-text design-styles-preset-1e9trmr">{{article.title}}</h2>
</div>
<div class="design-1pw4v37" data-design-component-type="RichTextContainer" data-part="We don’t just make things pretty. We make them work. Our redesigns consistently boost engagement and drive action." style="--design-paragraph-spacing:0px;transform:none">
<p class="design-text design-styles-preset-1qf5hdm">{{article.excerpt}}</p>
</div>
<div class="design-1v0hu7w" data-part="Container">
<div class="design-1w6j1ps-container">
<div class="design-qUSOy design-hZeXg design-cxczP design-vgyc3p design-v-tihalu" data-part="Horizontal">
<div class="design-thp4ig" data-part="Customer IMG" style="border-bottom-left-radius:12px;border-bottom-right-radius:12px;border-top-left-radius:12px;border-top-right-radius:12px">
<div data-design-background-image-wrapper="true" style="position:absolute;border-radius:inherit;corner-shape:inherit;top:0;right:0;bottom:0;left:0">
<img alt="{{page._images.customer_img_1.alt}}" decoding="async" height="192" loading="lazy" src="{{page._images.customer_img_1.src}}" style="display:block;width:100%;height:100%;border-radius:inherit;corner-shape:inherit;object-position:center;object-fit:cover" width="192"/>
</div>
</div>
<div class="design-h01btg" data-part="Name and title">
<div class="design-1hnvjcv" data-design-component-type="RichTextContainer" data-part="Amira D." style="--design-paragraph-spacing:0px;transform:none">
<p class="design-text design-styles-preset-2nzwyb">{{article.author}}</p>
</div>
<div class="design-1o6gz3l" data-design-component-type="RichTextContainer" data-part="Brand Director" style="--design-paragraph-spacing:0px;transform:none">
<p class="design-text design-styles-preset-1ra5k8v">{{article.authorRole}}</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</a>