<section id="start-a-project" class="design-383yvm" data-part="Banner CTA" style="will-change:transform">
<div class="design-1xkz7mc" data-part="Max width container">
<div class="design-xub123" data-part="Headline">
<div class="responsive-variant">
<div class="design-csm5vt-container">
<div class="design-LoR1K design-muOVU design-JXJD2 design-eisjkj design-v-qx9b96" data-part="Medium" style="width:100%">
<div class="design-t8l50y" data-design-component-type="RichTextContainer" data-part="H2" style="--extracted-1of0zx5:var(--variable-reference-XJ1_rrJFw-ta2R8Oh80);--design-link-text-color:rgb(0, 153, 255);--design-link-text-decoration:underline;--variable-reference-XJ1_rrJFw-ta2R8Oh80:var(--color-white, rgb(255, 255, 255));transform:none">
<h2 class="design-text design-styles-preset-13bfzx5" style="--design-text-alignment:center;--design-text-color:var(--extracted-1of0zx5, var(--variable-reference-XJ1_rrJFw-ta2R8Oh80))">{{shared.cta.let_s_build_something_great}}</h2>
</div>
<div class="design-qvhep-container" style="opacity:0.9">
<div style="width:100%;height:100%;backdrop-filter:blur(0px);background-color:transparent;background-image:radial-gradient(rgba(0,0,0,0) 1px,var(--color-ink, rgb(19, 19, 22)) 1px);background-size:3px 3px">
</div>
</div>
</div>
</div>
</div>
<div class="design-xo6gbj" data-part="Text container">
<div class="design-1c4ewfp" data-design-component-type="RichTextContainer" data-part="We don’t just make things pretty. We make them work. Our redesigns consistently boost engagement and drive action." style="transform:none">
<p class="design-text design-styles-preset-1toqsjw" style="--design-text-alignment:center;--design-text-color:var(--token-e77614a2-ba91-4d64-ba1c-3649efb36d98, rgb(145, 147, 172))">
<span class="design-text" style="--design-text-color:var(--color-white, rgb(255, 255, 255))">
<strong class="design-text">{{shared.cta.let_s_talk_about_your_next_move}}</strong>
</span>{{shared.cta.whether_it_s_strategy_design_or_both_we_re_here_to_help}}</p>
</div>
</div>
<div class="responsive-variant hidden-zagzij">
<div class="design-1r4x4lk-container">
<a class="design-PLGvS design-zQDUX design-EI2iH design-jjw43z design-v-jjw43z design-hpg0n4" data-part="L White" href="/contact" style="background-color:var(--color-white, rgb(255, 255, 255));border-bottom-left-radius:8px;border-bottom-right-radius:8px;border-top-left-radius:8px;border-top-right-radius:8px;opacity:1" tabindex="0">
<div class="design-169qau6" data-part="Text">
<div class="design-1es6rdz" data-design-component-type="RichTextContainer" data-part="See pricing" style="--design-paragraph-spacing:0px;transform:none">
<p class="design-text design-styles-preset-uldik7">{{shared.cta.contact}}</p>
</div>
<div class="design-6jamm" data-design-component-type="RichTextContainer" data-part="See pricing" style="--design-paragraph-spacing:0px;transform:none">
<p class="design-text design-styles-preset-uldik7">{{shared.cta.contact}}</p>
</div>
</div>
<div class="design-fhY6R design-117s3ny" style="--1l1lian:var(--color-ink, rgb(19, 19, 22));transform:none">
</div>
<div class="design-owwx6i" data-part="Hover animation" style="background-color:var(--token-7d8f6bfb-f997-43f2-b2b1-804070da8223, rgb(255, 251, 31));border-bottom-left-radius:22222px;border-bottom-right-radius:22222px;border-top-left-radius:22222px;border-top-right-radius:22222px;transform:translateX(-50%)">
</div>
</a>
</div>
</div>
<div class="responsive-variant hidden-1eh47ed hidden-1hmfo5g">
<div class="design-1r4x4lk-container">
<a class="design-PLGvS design-zQDUX design-EI2iH design-jjw43z design-v-1govnkm design-hpg0n4" data-part="S White" href="/contact" style="background-color:var(--color-white, rgb(255, 255, 255));border-bottom-left-radius:8px;border-bottom-right-radius:8px;border-top-left-radius:8px;border-top-right-radius:8px;opacity:1" tabindex="0">
<div class="design-169qau6" data-part="Text">
<div class="design-1es6rdz" data-design-component-type="RichTextContainer" data-part="See pricing" style="--design-paragraph-spacing:0px;transform:none">
<p class="design-text design-styles-preset-1ce5jwa">{{shared.cta.contact}}</p>
</div>
<div class="design-6jamm" data-design-component-type="RichTextContainer" data-part="See pricing" style="--design-paragraph-spacing:0px;transform:none">
<p class="design-text design-styles-preset-1ce5jwa">{{shared.cta.contact}}</p>
</div>
</div>
<div class="design-fhY6R design-117s3ny" style="--1l1lian:var(--color-ink, rgb(19, 19, 22));transform:none">
</div>
<div class="design-owwx6i" data-part="Hover animation" style="background-color:var(--token-7d8f6bfb-f997-43f2-b2b1-804070da8223, rgb(255, 251, 31));border-bottom-left-radius:22222px;border-bottom-right-radius:22222px;border-top-left-radius:22222px;border-top-right-radius:22222px;transform:translateX(-50%)">
</div>
</a>
</div>
</div>
</div>
</div>
{{{ctaBackground}}}
</section>
