<div class="design-8v54va-container">
<div class="responsive-variant hidden-zagzij">
<nav class="design-KVTzW design-djgp4u design-v-djgp4u" data-part="Desktop / tablet" style="background-color:rgba(0, 0, 0, 0);width:100%">
<div class="design-cd7ysd" data-part="vh container">
<div class="design-gqtron" data-part="max width container">
<div class="design-j58oq6" data-part="nav container">
<div class="design-1de4as4-container">
<a class="design-SmDrJ design-AuUny design-m7CIJ design-eOitU design-ovk8g8 design-v-ovk8g8 design-94cwuh" data-part="Default" href="{{site.navigation.0.url}}" tabindex="0">
<div class="design-q9bf4u" data-part="Text container">
<div class="design-1g3dvz0" data-design-component-type="RichTextContainer" style="--extracted-r6o4lv:var(--variable-reference-kvY3A06Vg-dsRMq8F68);--design-paragraph-spacing:0px;--variable-reference-kvY3A06Vg-dsRMq8F68:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-color:var(--extracted-r6o4lv, var(--variable-reference-kvY3A06Vg-dsRMq8F68))">{{site.navigation.0.label}}</p>
</div>
<div class="design-12n0ytl" data-design-component-type="RichTextContainer" style="--extracted-r6o4lv:var(--variable-reference-kvY3A06Vg-dsRMq8F68);--design-paragraph-spacing:0px;--variable-reference-kvY3A06Vg-dsRMq8F68:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-color:var(--extracted-r6o4lv, var(--variable-reference-kvY3A06Vg-dsRMq8F68))">{{site.navigation.0.label}}</p>
</div>
</div>
</a>
</div>
<div class="design-mxf8bz-container">
<a class="design-SmDrJ design-AuUny design-m7CIJ design-eOitU design-ovk8g8 design-v-ovk8g8 design-94cwuh" data-part="Default" href="{{site.navigation.1.url}}" tabindex="0">
<div class="design-q9bf4u" data-part="Text container">
<div class="design-1g3dvz0" data-design-component-type="RichTextContainer" style="--extracted-r6o4lv:var(--variable-reference-kvY3A06Vg-dsRMq8F68);--design-paragraph-spacing:0px;--variable-reference-kvY3A06Vg-dsRMq8F68:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-color:var(--extracted-r6o4lv, var(--variable-reference-kvY3A06Vg-dsRMq8F68))">{{site.navigation.1.label}}</p>
</div>
<div class="design-12n0ytl" data-design-component-type="RichTextContainer" style="--extracted-r6o4lv:var(--variable-reference-kvY3A06Vg-dsRMq8F68);--design-paragraph-spacing:0px;--variable-reference-kvY3A06Vg-dsRMq8F68:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-color:var(--extracted-r6o4lv, var(--variable-reference-kvY3A06Vg-dsRMq8F68))">{{site.navigation.1.label}}</p>
</div>
</div>
</a>
</div>
<div class="design-1ohxgqa-container">
<a class="design-SmDrJ design-AuUny design-m7CIJ design-eOitU design-ovk8g8 design-v-ovk8g8 design-94cwuh" data-part="Default" href="{{site.navigation.2.url}}" tabindex="0">
<div class="design-q9bf4u" data-part="Text container">
<div class="design-1g3dvz0" data-design-component-type="RichTextContainer" style="--extracted-r6o4lv:var(--variable-reference-kvY3A06Vg-dsRMq8F68);--design-paragraph-spacing:0px;--variable-reference-kvY3A06Vg-dsRMq8F68:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-color:var(--extracted-r6o4lv, var(--variable-reference-kvY3A06Vg-dsRMq8F68))">{{site.navigation.2.label}}</p>
</div>
<div class="design-12n0ytl" data-design-component-type="RichTextContainer" style="--extracted-r6o4lv:var(--variable-reference-kvY3A06Vg-dsRMq8F68);--design-paragraph-spacing:0px;--variable-reference-kvY3A06Vg-dsRMq8F68:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-color:var(--extracted-r6o4lv, var(--variable-reference-kvY3A06Vg-dsRMq8F68))">{{site.navigation.2.label}}</p>
</div>
</div>
</a>
</div>
<div class="design-e31sby-container">
<a class="design-SmDrJ design-AuUny design-m7CIJ design-eOitU design-ovk8g8 design-v-ovk8g8 design-94cwuh" data-part="Default" href="{{site.navigation.3.url}}" tabindex="0">
<div class="design-q9bf4u" data-part="Text container">
<div class="design-1g3dvz0" data-design-component-type="RichTextContainer" style="--extracted-r6o4lv:var(--variable-reference-kvY3A06Vg-dsRMq8F68);--design-paragraph-spacing:0px;--variable-reference-kvY3A06Vg-dsRMq8F68:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-color:var(--extracted-r6o4lv, var(--variable-reference-kvY3A06Vg-dsRMq8F68))">{{site.navigation.3.label}}</p>
</div>
<div class="design-12n0ytl" data-design-component-type="RichTextContainer" style="--extracted-r6o4lv:var(--variable-reference-kvY3A06Vg-dsRMq8F68);--design-paragraph-spacing:0px;--variable-reference-kvY3A06Vg-dsRMq8F68:var(--color-ink, rgb(19, 19, 22));transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-color:var(--extracted-r6o4lv, var(--variable-reference-kvY3A06Vg-dsRMq8F68))">{{site.navigation.3.label}}</p>
</div>
</div>
</a>
</div>
</div>
<a href="/" class="design-vuhnx0 design-1nctv4w" data-part="Logo" style="transform:translateX(-50%)">
<div class="design-jj86ox" data-design-component-type="RichTextContainer" style="--extracted-r6o4lv:var(--color-ink, rgb(19, 19, 22));--design-link-text-color:rgb(0, 153, 255);--design-link-text-decoration:underline;transform:none">
<img class="brand-image" src="{{site.logo}}" alt="{{site.brandName}}" width="480" height="92">
</div>
</a>
<div class="design-nu7h9n" data-part="contact btn and mobile toggle">
<div class="design-n4o7bv-container">
<a class="design-gzg5v design-AuUny design-1q51nde design-v-1q51nde design-i8yk4d" data-part="Big" href="/contact" style="background-color:var(--token-7d8f6bfb-f997-43f2-b2b1-804070da8223, rgb(30, 247, 255));height:100%;border-bottom-left-radius:12px;border-bottom-right-radius:12px;border-top-left-radius:0px;border-top-right-radius:0px" tabindex="0">
<div class="design-dqhfgk" data-part="Text container">
<div class="design-1x2dgwo" data-design-component-type="RichTextContainer" style="--extracted-r6o4lv:var(--color-ink, rgb(19, 19, 22));--design-link-text-color:rgb(0, 153, 255);--design-link-text-decoration:underline;transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-color:var(--extracted-r6o4lv, var(--color-ink, rgb(19, 19, 22)))">{{shared.header.contact}}</p>
</div>
<div class="design-gcwfms" data-design-component-type="RichTextContainer" style="--extracted-r6o4lv:var(--color-white, rgb(255, 255, 255));--design-link-text-color:rgb(0, 153, 255);--design-link-text-decoration:underline;transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-color:var(--extracted-r6o4lv, var(--color-white, rgb(255, 255, 255)))">{{shared.header.contact}}</p>
</div>
</div>
<div class="design-1ljapm1" data-part="hover animation" style="background-color:var(--color-ink, rgb(19, 19, 22));border-bottom-left-radius:999px;border-bottom-right-radius:999px;border-top-left-radius:999px;border-top-right-radius:999px">
</div>
</a>
</div>
</div>
</div>
</div>
</nav>
</div>
<div class="responsive-variant hidden-1eh47ed hidden-1hmfo5g">
<nav class="design-KVTzW design-djgp4u design-v-1i3otru" data-part="Mobile default" style="background-color:var(--token-c135510a-db40-47f1-89c4-465c28e18cac, rgba(246, 246, 249, 0));width:100%">
<div class="design-cd7ysd" data-part="vh container">
<div class="design-gqtron" data-part="max width container">
<a href="/" class="design-vuhnx0 design-1nctv4w" data-part="Logo" href="{{site.navigation.0.url}}">
<div class="design-jj86ox" data-design-component-type="RichTextContainer" style="--extracted-r6o4lv:var(--color-ink, rgb(19, 19, 22));--design-link-text-color:rgb(0, 153, 255);--design-link-text-decoration:underline;transform:none">
<img class="brand-image" src="{{site.logo}}" alt="{{site.brandName}}" width="480" height="92">
</div>
</a>
<div class="design-nu7h9n" data-part="contact btn and mobile toggle">
<div class="design-n4o7bv-container">
<a class="design-gzg5v design-AuUny design-1q51nde design-v-hyui4n design-i8yk4d" data-part="Small" href="/contact" style="background-color:var(--token-7d8f6bfb-f997-43f2-b2b1-804070da8223, rgb(30, 247, 255));height:100%;border-bottom-left-radius:8px;border-bottom-right-radius:8px;border-top-left-radius:8px;border-top-right-radius:8px" tabindex="0">
<div class="design-dqhfgk" data-part="Text container">
<div class="design-1x2dgwo" data-design-component-type="RichTextContainer" style="--extracted-r6o4lv:var(--color-ink, rgb(19, 19, 22));--design-link-text-color:rgb(0, 153, 255);--design-link-text-decoration:underline;transform:none">
<p class="design-text design-styles-preset-16lpirb" dir="auto" style="--design-text-color:var(--extracted-r6o4lv, var(--color-ink, rgb(19, 19, 22)))">{{shared.header.contact}}</p>
</div>
<div class="design-gcwfms" data-design-component-type="RichTextContainer" style="--extracted-r6o4lv:var(--color-white, rgb(255, 255, 255));--design-link-text-color:rgb(0, 153, 255);--design-link-text-decoration:underline;transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-color:var(--extracted-r6o4lv, var(--color-white, rgb(255, 255, 255)))">{{shared.header.contact}}</p>
</div>
</div>
<div class="design-1ljapm1" data-part="hover animation" style="background-color:var(--color-ink, rgb(19, 19, 22));border-bottom-left-radius:999px;border-bottom-right-radius:999px;border-top-left-radius:999px;border-top-right-radius:999px">
</div>
</a>
</div>
<div class="design-1npfumk-container">
<div class="design-Z6OMM design-h5tkno design-v-h5tkno" data-part="default" tabindex="0">
<div class="design-1n933p8" data-part="Line" style="background-color:var(--color-ink, rgb(19, 19, 22));transform:none">
</div>
<div class="design-1mk5aog" data-part="Line" style="background-color:var(--color-ink, rgb(19, 19, 22));transform:none">
</div>
</div>
</div>
</div>
</div>
</div>
</nav>
</div>
</div>
