<div class="design-c0l2xy" data-border="true" data-part="Live link">
<div class="design-1fqynxp" data-design-component-type="RichTextContainer" style="transform:none">
<p class="design-text design-styles-preset-1xje7qk" style="--design-text-alignment:left">{{page.live}}</p>
</div>
<div class="design-je2jbf" data-design-component-type="RichTextContainer" style="transform:none">
<p class="design-text design-styles-preset-16lpirb" style="--design-text-alignment:left">
<a class="design-text design-styles-preset-2ejdy8" href="{{project.liveUrl}}" rel="">{{project.liveLabel}}</a>
</p>
</div>
</div>